build
.gradle
.idea
local.properties
**/.DS_store
*.hprof
.kotlin
**/__pycache__
python.iml
python-wrapper/src/python/lib
**/scratch
!**/scratch/docker-compose-cloud.yaml
cardinal-sdk/src/commonMain/kotlin/com/icure/cardinal/sdk/example