version: "3.8"

services:
  couchdb:
    image: couchdb:3.2.2
    container_name: couchdb-test
    ports:
      - "${COUCHDB_PORT}:5984"
    volumes:
      - ./docker.ini/:/opt/couchdb/etc/local.d/docker.ini
    environment:
      - COUCHDB_USER=${COUCHDB_USER}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - ERL_MAX_PORT=16384

  kraken-1:
    image: docker.taktik.be/icure/icure-kraken:5.0.260-g71e0720649
    container_name: kraken-1
    ports:
      - "5005:5005"
      - "8000:8000"
      - "16044:16043"
    environment:
      - ICURE_COUCHDB_PREFIX=icure-__
      - ICURE_COUCHDB_URL=http://couchdb-test:5984
      - ICURE_COUCHDB_USERNAME=${COUCHDB_USER}
      - ICURE_COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - ICURE_GCP_SERVICE_ACCOUNT_EMAIL=fake-account@taktik-icure.iam.gserviceaccount.com
      - ICURE_EXTERNALSERVICES_USEFAKES=true
      - ICURE_SYNC_GLOBAL_DATABASES=true
      - ICURE_RATELIMIT_RULES_0=/rest/v1/patient/register->10
      - ICURE_RATELIMIT_RULES_1=/rest/v1/user/register->10
      - JAVA_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
      - "ICURE_GCP_SERVICE_ACCOUNT_KEY=-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDIdlbFTfqwsCX0\nAvx1fGXlmi0N0JmOwGTIP9p/qCqzofdFFh6zktNtOk+gvo17VQVp33RmTywPH5pd\nlOG/9Psbkocb+XcsLNC3Y1i+5BM5ueCkmFGFvrA4TvlQVM1IkN60UKnoEIs/jgPT\nKiKGD8yhK/n+/jLpECVci9mHAYJUZ0yTGM8riSV2HJ6jRFP/6UxuHynQd5H3EkMS\nOtgKw9NU694VX6IjmkxG9QD9mhlVUPJCBFIrM80f+xXyj25TbDbJjlbLYCaoaSLf\nLATGGv2dkt++0IEy4XQc/5ZN8rbzbupfUEfZKh/YBN4e32Sj0GchMvtFOFE7OKrZ\nuTiELhNbAgMBAAECggEALvFfYnbfVM77JEgqvIx0BC91i32k6APv1eD2FtzXmxc7\no2cJq32fmz2Ddh4JXa9MRD26sVaq96Or72w07VG+F/fZQdjKaoLYIYnXN2SLiAIa\nNBEjThGYjKcZxREGvY6HSGx3TUvKgAiOpr2ANiqu/bMhqO/4FhHc3e4182KMFZ1s\nvbDzgHJPub6vmCmrLolmS68jYm6lQWtTMVCuYS3iRa0pkwL2glEli/W76xtuWOLX\nPyUNJ42yQdlTyogMDXg3iu3Oc1NSaw3cbiB5MV329/s62BYVyt31phGyNx7up1gU\nK6k7gxkXVDl3oVhi5qbvHrL7qtfHx2fuDlRtMtf+2QKBgQDyhxPfLYtCwy+70Ke5\nja0JzIJc9RXj41WvAWv8xSPbKL85bkvbQiS4PTAJaV0goFzLhukYEzoWftOzjtxF\n4/AcyP8HJUiMt1YUNd3l51p+8r+hTKNcctkczWy7Touoo8dQvowtdLm78EN0jMtm\njIyZF2lcYYZzx1Yf3UzKGEcbxwKBgQDTmQ95/FOnv4Mw3+bkzkUv8opZoh2tebrd\n4lZkm3FwboGxvoE6PYa6eAqYQELit16KA+EwgkBPRCpXxCJXoixVd3zsLdgeWPUs\nhSjVbWL+Tz6N6HG8qa85RKzjsQAbGce8Qvrc/B+/i1Sn9bqUVYUyg0Fdq6PPOIog\nhmHdE8qDzQKBgQCq5+NqB2c2keOGX8CCMsN4v0Qyi4d0gxQzcjYN90KQQ0OWDhKo\nnRDRQFUknLpCrp8V0albDNmHVrKKuyagncLsFfwZpf1dJCklrtwDEiikgx3lZeNM\n16YF9QElcXFbUqa3UL/pnHLybJqsfDctueeuTmAx+IvN9O/NHp7pX3hkqwKBgGfP\nyzkE46IEIoAjCWuuC2G3s8q/76GBfH2JousfHCuV+8lRdqM1NllbtY720Bnc7uP1\nfVDIRnbdMYz3rAWkie2wfrh80XAqIrch6WO0lAHCrSUAKnTuJwqIt+3JlAy3vDeQ\nAPXUOFtIJ1N0CoLl5kBfBv3GzMpIqfPFGlRVdmDtAoGBANQ2GEsGHX2JNIh5Uw2P\nIsd5mKnN+BwzfHzKmJIWOvV7zJZKhsyOR6S0yqeNcpxc3LXGIpiaP8bkfBvt1NHj\nW9IUn2v9vfNurVrTy+ICWQjdT1CLrmUGih80P0WvpFaNYEhMIr6SQpalWuK2S+Xq\nzmwYsaWkgX3UT0VXULBo7P2s\n-----END PRIVATE KEY-----\n"
      
    depends_on:
      - couchdb

  mock-msg-gw:
    image: docker.taktik.be/icure/mock:0.1.31-g00d88f6290
    container_name: mock
    ports:
      - "8081:8080"
    environment:
      - ICURE_URL=${MOCK_ICURE_URL}
      - ICURE_ADMIN_USER=${ICURE_MOCK_LOGIN}
      - ICURE_ADMIN_PWD=${ICURE_MOCK_PWD}
      - ICURE_PROCESS_GROUP_ID=${ICURE_TEST_GROUP_ID}
    profiles:
      - mock

# => ./haproxy/haproxy.cfg
# global
#   stats socket /usr/local/etc/haproxy/admin.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
#   log stdout format raw local0 info
# defaults
#   log global
#   option dontlognull
#   option http-server-close
#   timeout client 5m
#   timeout client-fin 50s
#   timeout connect 5s
#   timeout server 1d
#   timeout tunnel 20m
#   mode http
# frontend stats
#   bind *:16046
#   stats enable
#   stats uri /
#   stats refresh 10s
# frontend myfrontend
#   bind :8080
#   default_backend webservers
# backend webservers
#   option redispatch
#   server k1 kraken-1:16043 check
#   server k2 kraken-2:16043 check

# => ./docker.ini
# [chttpd]
# bind_address = 0.0.0.0
# port = 5984
# server_options = [{backlog, 128}, {acceptor_pool_size, 24}, {max, 16384}]
# [cluster]
# n = 1
